button {
    background: #919faf;
    color: #fff;
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    margin-right: 20px;
}

button:focus {
  outline: 0;
}

button.enabled {
    background: #76c29a;
}
