.navigation {
    width: 1120px;
    margin-top: 20px;
    display: flex;
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 10px;
}

.actions {
    margin-left: 0px;
}
